<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.yhj3211.review.dao.ReviewDAO">
 	
 	<insert id="userSignUp"
 			parameterType="Map">
 			
 		Insert Into `User`
 			(
 				`name`,
 				`loginId`,
 				`password`,
 				`email`,
 				`number`,
 				`birth`,
 				`createdAt`,
 				`updatedAt`
 			)
 		VALUES
 			(
 				#{name},
 				#{loginId},
 				#{password},
 				#{email},
 				#{number},
 				#{birth},
 				now(),
 				now()
 				
 			
 	</insert>
 
 
 </mapper>